@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }
*{
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color)
}
.img_top{
    width: 100%;
}
#img_top{
    transform:rotate(180deg);
}
main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.corpo_contador h1{
  color: var(--purple);
}
button{
  background-color: var(--purple);
  color: white;
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
}